
<div class="flex justify-between">
    <div id="glassmorph" class="p-5 hidden" data-location-target="glassmorph">
        <h1 class="text-[64px] font-medium bg-gradient-to-r from-slate-200 via-gray-200 to-slate-50 bg-clip-text text-transparent opacity-90" data-location-target="city"></h1>
        <%#  %>
        <p class="text-[56px] font-normal bg-gradient-to-r from-slate-200 via-gray-200 to-slate-50 bg-clip-text text-transparent opacity-90" data-location-target="description"></p>
        <%#  %>
        <p class="text-3xl pl-2 font-extralight bg-gradient-to-r from-slate-200 via-gray-200 to-slate-50 bg-clip-text text-transparent opacity-90" data-location-target="temperature"></p>

        <p class="text-3xl font-extralight mt-6 bg-gradient-to-r from-slate-200 via-gray-200 to-slate-50 bg-clip-text text-transparent opacity-90"  data-location-target="wind"></p>

        <div class="flex mt-5 ">
           <p data-location-target="icon" class="hidden pr-5"> 🌅<span class="text-3xl font-extralight bg-gradient-to-r from-slate-200 via-gray-200 to-slate-50 bg-clip-text text-transparent opacity-90" data-location-target="sunrise"></span></p>
            <p data-location-target="iconset" class="hidden" > 🌇 <span class="text-3xl font-extralight bg-gradient-to-r from-slate-200 via-gray-200 to-slate-50 bg-clip-text text-transparent opacity-90" data-location-target="sunset"></span></p>
        </div>
    </div>
       
    <div class="mt-5">
        <div id="embed-iframe" ></div>
    </div>
</div>



<!--
<div class="mt-5 max-w-[fit-content] mx-auto " data-controller="location" data-location-key=<%=ENV["WEATHER_KEY"]%> data-location-client=<%=ENV["SPOTIFY_CLIENT_ID"]%> data-location-secret= <%=ENV["SPOTIFY_CLIENT_SECRET"]%>>
    <form class="w-full max-w-sm"  data-action="submit->location#search" >
        <div class="flex items-center border-b border-teal-500 py-2">
            <input
                class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                type="text" placeholder="Enter your city" aria-label="City" data-location-target="input">
            <button
                class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
                type="submit">
                Search
            </button>
        </div>
    </form>
    <div class="mt-4 ">
        <div class="w-1/2" data-location-target="weather">
            <div class="flex justify-center">
                <div class="flex flex-col items-center">
                    <h2 class="text-2xl font-bold" data-location-target="city"></h2>
                    <p class="text-lg" data-location-target="description"></p>
                    <p class="text-lg" data-location-target="temperature"></p>
                    <p class="text-lg" data-location-target="wind"></p>
                    <p class="text-lg" data-location-target="sunrise"></p>
                    <p class="text-lg" data-location-target="sunset"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="embed-iframe" ></div>
</div>


 -->

   







